[Unit]
Description=Kassenserver
After=network.target

[Service]
WorkingDirectory=/opt/kasse
Environment="PATH=/opt/kasse/venv/bin"
ExecStart=/opt/kasse/kasse.py
TasksMax=512
Restart=on-failure
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=multi-user.target
Alias=nfckasse.service
