
body {
	font-family: sans-serif;
}

input {
	width: 90%;
}

.product, .row {
	display: table-row;
	width: auto;
	clear: both;
}
.product div, .col {
	display: table-column;
	float: left;
	width: 200px;
}
.table {
	display: table;
	width: auto;
}

.card .cardhash {
	width: 280px;
}
.product .ean {
	width: 120px;
}
.product .ean input {
	width: 110px;
}
.product .price {
	width: 60px;
}
.product .stock {
	width: 120px;
}
.product .popularity {
	width: 100px;
	white-space: nowrap;
}
.product .price input, .product .stock input {
	width: 50px;
	float: right;
}
.row:nth-child(odd) {
	background: #CCC;
}
.row:nth-child(even) {
	background: #FFF;
}
