{% extends "base.html" %}
{% block title %}Admins{% endblock%}
{% block content %}

{% if error %}
{{error}}
{% endif %}
<div class="table">
  <form class="admin row" action="/admin" method="post">
    <div class="username col">{{username}}</div>
{% if oauth %}
    <div class="col">-</div>
    <div class="col">-</div>
    <div class="col">OAuth</div>
{% else %}
    <div class="password col"><input type="password" name="password"></div>
    <div class="password col"><input type="password" name="password2"></div>
    <div class="action col"><input type="submit" value="Ändern"></div>
{% endif %}
  </form>

{% for admin in admins %}
{% if admin.username != username %}
  <form class="admin row" action="/admin" method="post">
    <div class="username col">{{admin.username}}<input type="hidden" name="username" value="{{admin.username}}"></div>
    <div class="col">{% if admin.otp %}&check;{% else %}&times;{% endif %}</div>
    <div class="col"><input type="submit" name="reset" value="OTP zurücksetzen" /></div>
    {% if admin.active %}
    <div class="col"><input type="submit" style="color:red" name="deactivate" onclick="" value="Deaktivieren" /></div>
    {% else %}
    <div class="col"><input type="submit" style="color:green" name="reactivate" onclick="" value="Reaktivieren" /></div>
    {% endif %}
  </form>
{% endif %}
{% endfor %}

  <form class="admin row" action="/admin" method="post">
    <div class="username col"><input type="text" name="username"></div>
    <div class="password col"><input type="password" name="password"></div>
    <div class="password col"><input type="password" name="password2"></div>
    <div class="action col"><input type="submit" name="add" value="Hinzufügen"></div>
  </form>
</div>

{% endblock%}
