{% extends "base.html" %}
{% block title %}NFC Karten{% endblock%}
{% block content %}

<div class="table">
  <div class="row card">
    <div class="col cardhash">Karte</div>
    <div class="col cardvalue">Wert</div>
  </div>
  <div class="row card">
    <div class="col cardhash"><strong>Gesamtguthaben</strong></div>
    <div class="col cardvalue">{{totalvalue}}</div>
  </div>

{% for card in cards %}
  <div class="row card">
    <div class="col cardhash">{{card.uid}}</div>
    <div class="col cardvalue">{{card.value}}</div>
  </div>
{% endfor %}

</div>

{% endblock%}
