{% extends "base.html" %}
{% block title %}Produkte{% endblock%}
{% block content %}

<div class="table">

  <div class="product header row">
    <div class="ean col">EAN</div>
    <div class="name col">Name</div>
    <div class="price col">Preis</div>
    <div class="stock col">Bestand</div>
{% if admin  %}
    <div class="col">&nbsp;</div>
    <div class="popularity col">7d</div>
    <div class="popularity col">30d</div>
{% endif %}
  </div>

{% for product in products %}
  <form action="/products" class="product row" method="post">
    <div class="ean col">{{product.ean}}<input type="hidden" name="ean" value="{{product.ean}}" /></div>
    <div class="name col">{{product.name}}</div>
    <div class="price col">
{% if admin %}<input type="number" step=".01" name="price" value="{% endif %}{{product.price}}{% if admin %}" />{% endif %}
    </div>
    <div class="stock col">{{product.stock}}
      {% if admin %} + <input type="number" step="1" name="restock" style="width:50px;" />{% endif %}
    </div>
{% if admin %}
    <div class="col"><input type="submit" value="Ändern" /></div>
    <div class="popularity col"><div class="popularity" style="width: {{product.sales_7d / sales_7d * 100}}%; background-color: rgba({{[510 - product.sales_7d / sales_7d * 510, 255] | min}}, {{[product.sales_7d / sales_7d * 510, 255] | min}}, 0, 1)" title="{{product.sales_7d}}">{{product.sales_7d * product.price}} €</div></div>
    <div class="popularity col"><div class="popularity" style="width: {{product.sales_30d / sales_30d * 100}}%; background-color: rgba({{[510 - product.sales_30d / sales_30d * 510, 255] | min}}, {{[product.sales_30d / sales_30d * 510, 255] | min}}, 0, 1)" title="{{product.sales_30d}}">{{product.sales_30d * product.price}} €</div></div>
{% endif %}
  </form>
{% endfor %}

{% if admin %}
  <form action="/products" method="post" class="product row">
    <div class="ean col"><input type="text" name="ean" /></div>
    <div class="name col"><input type="text" name="name" /></div>    
    <div class="price col"><input type="number" step="0.01" name="price" /></div>
    <div class="stock col"><input type="number" name="stock" /></div>
    <div class="col"><input type="submit" value="Hinzufügen" /></div>
    <div class="popularity col">{{revenue_7d}}</div>
    <div class="popularity col">{{revenue_30d}}</div>
  </form>
{% endif %}

</div>

{% endblock%}
