{% extends "base.html" %}
{% block title %}Aufladecode{% endblock%}
{% block content %}

{% if code %}

  <img src="/qrcode?data={{code}}" /><br/>
  Gegenwert: {{value}} 

{% endif %}

<div class="table">

<form action="/topup" method="POST">
  <div class="row">
    <div class="col"><input type="submit" value="Aufladen"></div>
    <div class="col"><input type="number" name="value" /></div>
  </div>
</form>

  <div class="row">
    <div class="col"><strong>Bisher noch nicht aufgeladen:</strong></div>
    <div class="col">{{totalvalue}}</div>
  </div>

{% for code in codes %}
  <div class="row">
    <div class="col">{{code.hash}}</div>
    <div class="col">{{code.value}}</div>
  </div>
{% endfor %}

</div>

{% endblock%}
